html{
    height: 100%;
    background: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%) fixed;
}

body{
    background-color: rgba(255,255,255,0);
    color: white;
}

#heder{
    margin-bottom: 20px;
}

i{
    color: white;
    font-size: 24px;
}

#tekstPoredSlikeNava{
    margin: 0px 32px 0px 16px;
    color: white;
    font-weight: 700;
    font-size: 175%;
}

.navLink{
    text-align: center;
    color: white;
    font-size: 130%;
}

.navLink:hover{
    border-radius: 1px;
    background-color: #3399FF;
    color: white;
}

#okolo{
    margin-top: 30px;
    margin-bottom: 30px;
    overflow-x: scroll;
}

.divUsera{
    height: 50px;
    text-align: center;
    font-size: 24px;
    color: white;
    border-radius: 5px;
    margin-bottom: 2px;
}

.kupac{
    background-color: green;
}

.prodavac{
    background-color: dodgerblue;
}

.admin{
    background-color: darkred;
}

.divUsera:hover{
    background-color: cadetblue;
    cursor: pointer;
}

.poruka{
    padding: 5px;
    color: white;
    border-radius: 5px;
}

.trenutne_poruke{
    padding: 10px;
    height: 500px;
    overflow-y: auto;
    background-color: dodgerblue;
    margin-bottom: 30px;
}

#listaUsera{
    height: 500px;
    overflow-y: auto;
}

span{
    font-size: 115%;
}

.info{
    background-color: #222222;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

#tekst{
    width: 78%;
    height: 40px;
    border-radius: 5px;
    border: solid 2px black;
    padding: 2px;
    margin-right: 2px;
}

#dugme{
    width: 20%;
    height: 40px;
    padding: 2px;
    float: right;
}

#red{
    margin-top: 50px;
}

@media screen and (max-width: 992px){
    #listaUsera {
        height: 300px;
        margin-bottom: 20px;
    }
    .trenutne_poruke{
        margin-top: 30px;
        height: 400px;
    }
}