html{
    height: 100%;
}

body{
    color: white;
}

#tekstPoredSlikeNava{
    margin: 0px 32px 0px 16px;
    color: white;
    font-weight: 700;
    font-size: 175%;
}

.navLink{
    text-align: center;
    color: white;
    font-size: 130%;
}

.navLink:hover{
    border-radius: 1px;
    background-color: #3399FF;
    color: white;
}

h4{
    text-align: center;
    color: black;
}

.kolona{
}