<!DOCTYPE html>
<html lang="bs">
  <head>

    <title>Uredi kategorije</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"> <!--bootstrap ikonice-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script><!-- ajax -->

    <link rel='stylesheet' href='/stylesheets/style-admin-kategorije.css' />

  </head>
  <body>

  <header id="heder">
    <!-- Navigacijski menu uzet s linka: https://getbootstrap.com/docs/5.1/components/navbar/ -->
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: black;">
      <div class="container">
        <a class="navbar-brand" href="/admin/kategorije" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Osvježi stranicu"><i class="bi bi-plus-slash-minus"></i></a>
        <span id="tekstPoredSlikeNava">Kategorije</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="elementMenija" class="nav-item">
              <a class="navLink nav-link" href="/admin">Korisnici</a>
            </li>
            <li class="elementMenija" class="nav-item">
              <a class="navLink nav-link" href="/admin/statistika">Statistika</a>
            </li>
            <li class="elementMenija" class="nav-item">
              <a class="navLink nav-link" href="/poruke/poruke">Čat</a>
            </li>
            <li class="elementMenija" class="nav-item">
              <a class="navLink nav-link" href="/logout">Odjava</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div style="height: 100px;"></div>

  <div class="container">
    <div class="row justify-content-center">
      <div id="dugmeDiv" class="col-8 col-sm-7 col-lg-5 col-xl-4">
        <button class="btn btn-warning" onclick="izbrisi()">Izbriši kategoriju</button>
        <button class="btn btn-info" onclick="dodaj()">Dodaj kategoriju</button>
      </div>
    </div>
  </div>

  <div class="container">
    <div id="kategorije" class="row justify-content-center d-none">
      <div class="col-8 col-md-5 col-lg-3">
        <h3>Izbriši kategorije</h3>
        <%for(let i=0; i<categories.length; i++){%>
          <div id="kat<%=categories[i].id%>" class="kategorija"><%=categories[i].category_name%>
            <span class="oznaka oznaka1">
              <i class="bi bi-dash-circle" onclick="obrisi(<%=categories[i].id%>)"></i>
            </span>
          </div>
        <%}%>
      </div>
      <div class="button-element">
        <button class="btn btn-success" onclick="izbrisiKategorije()">Potvrdi</button>
        <button class="btn btn-danger" onclick="odustani()">Odustani</button>
      </div>
    </div>
  </div>

  <div class="container">
    <div id="dodavanje" class="row justify-content-center d-none">
      <div id="katZaDodati" class="col-8 col-md-5 col-lg-4">
        <h3>Dodaj kategorije</h3>
        <div style="margin-bottom: 10px; text-align: center;">
          <input id="inputPolje" type="text" placeholder="Unesite ime kategorije..">
          <button style="margin-left: 5px;" class="btn btn-info" onclick="dodajj()">Dodaj</button>
        </div>
      </div>
      <div class="button-element">
        <button class="btn btn-success" onclick="dodajKategorije()">Potvrdi</button>
        <button class="btn btn-danger" onclick="odustani2()">Odustani</button>
      </div>
    </div>
  </div>

  <script>
    var zaObrisati = [];
    function obrisi(id_kategorije){
      document.getElementById("kat"+id_kategorije).classList.toggle("text-white");
      document.getElementById("kat"+id_kategorije).classList.toggle("bg-danger");
      document.getElementById("kat"+id_kategorije).style.border = "solid 1px black";
      let obrisati = true;
      let indeks;
      for(let i=0; i<zaObrisati.length; i++){
        if(id_kategorije === zaObrisati[i]){
          obrisati = false;
          indeks = i;
          break;
        }
      }
      if(obrisati) zaObrisati.push(id_kategorije);
      if(!obrisati) zaObrisati.splice(indeks, 1);
    }

    function izbrisiKategorije(){
      if(zaObrisati.length === 0){
        alert("Ne brišete niti jednu kategoriju!");
        return;
      }
      let info = {
        za_obrisati: JSON.stringify(zaObrisati)
      }
      JSON.stringify(info);
      $.ajax({
        url: "/admin/izbrisiKategorije",
        data: info,
        type: 'POST',
        beforeSend: function () {
        }
      }).done(function (data) {
        location.replace("/admin/kategorije");
      });
    }

    function izbrisi(){
      document.getElementById("dugmeDiv").style.display = "none";
      document.getElementById("kategorije").classList.toggle("d-none");
      window.scrollTo(0,document.body.scrollHeight);
    }

    function odustani(){
      for(let i=0; i<zaObrisati.length; i++){
        document.getElementById("kat" + zaObrisati[i]).classList.toggle("text-white");
        document.getElementById("kat" + zaObrisati[i]).classList.toggle("bg-danger");
        document.getElementById("kat" + zaObrisati[i]).style.border = "solid 1px black";
      }
      zaObrisati = [];
      document.getElementById("kategorije").classList.toggle("d-none");
      document.getElementById("dugmeDiv").style.display = "block";
    }
  </script>


  <script>
    var zaDodati = [];
    function dodajj(){
      let ime = document.getElementById("inputPolje").value;
      if(ime === ""){
        alert("Ime kategorije ne može biti prazno polje!");
        return;
      }

      document.getElementById("inputPolje").value = "";
      document.getElementById("inputPolje").placeholder = "Unesite novu kategoriju..";

      for(let i=0; i<zaDodati.length; i++){
        console.log(zaDodati[i] + "  " + ime);
        if(zaDodati[i] === ime){
          alert("Već ste dodali kategoriju sa tim imenom!");
          return;
        }
      }
      zaDodati.push(ime);

      let div = document.createElement("DIV");
      div.classList.toggle("kategorija");
      div.setAttribute('id', '2kat'+ime);
      div.innerHTML =  ime + `<span class="oznaka oznaka1">
                                  <i class="bi bi-dash-circle" onclick="obrisi2('` + ime + `')"></i>
                              </span>`;
      document.getElementById("katZaDodati").appendChild(div);
    }
    function obrisi2(ime){
      var child = document.getElementById("2kat"+ime);
      child.parentNode.removeChild(child);

      for(let i=0; i<zaDodati.length; i++){
        if(ime === zaDodati[i]){
          zaDodati.splice(i, 1);
          return;
        }
      }

    }

    function dodajKategorije(){
      if(zaDodati.length === 0){
        alert("Ne dodajete niti jednu kategoriju!");
        return;
      }
      let info = {
        za_dodati: JSON.stringify(zaDodati)
      }
      JSON.stringify(info);
      $.ajax({
        url: "/admin/dodajKategorije",
        data: info,
        type: 'POST',
        beforeSend: function () {
        }
      }).done(function (data) {
        location.assign("/admin/kategorije");
      });
    }

    function dodaj(){
      document.getElementById("dugmeDiv").style.display = "none";
      document.getElementById("dodavanje").classList.toggle("d-none");
      window.scrollTo(0,document.body.scrollHeight);
    }

    function odustani2() {
      document.getElementById("dodavanje").classList.toggle("d-none");
      document.getElementById("dugmeDiv").style.display = "block";
    }
  </script>

  </body>
</html>